
  
  /* 7. Shaking Animations */
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-50px); }
    50% { transform: translateX(50px); }
    75% { transform: translateX(-50px); }
    100% { transform: translateX(0); }
  }
  .shake {
    animation: shake 0.5s ease-in-out;
  }
  
 
  
 
  
  /* Text Shadow Animation */
  @keyframes textGlow {
    0% {
      text-shadow: 0 0 5px maroon;
    }
    50% {
      text-shadow: 0 0 20px blue;
    }
    100% {
      text-shadow: 0 0 5px red;
    }
  }
  
  .glowing-text {
    animation: textGlow 3s infinite;
  }
  
  
 